@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Praise&family=Roboto+Mono&display=swap');.navbar {
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 80px;
      
    font-family: 'Praise', cursive;
    color: #eeeeee;    
  }
  
  .nav-item-{
    text-decoration: none;
    margin-right:16px;
    color:#969696;
    font-size:17px;
    padding:3px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
  }
  .nav-item-:hover{
    color:white;
  }
  .ul-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style:none;
    padding:10px;
    padding-top: 10px;
  }
