.profile{
    position:absolute;
   top:0;
   right:0;
   color: white;
}
.drop{
    padding: 4px;
    border-radius: 45px;
    
    margin:20px;
    background-color: rgba(0, 0, 0, 0.472);
    border: 1px solid rgb(163, 171, 171);
    color: white;
}
.drop:hover{
    border: 1px solid aqua;
    background-color: black;
}