.profile{
    position:absolute;
   top:0;
   right: 0.6em;
   color: white;
}
.drop{
    padding: 4px;
    border-radius: 45px;
    
    margin:20px;
    background-color: rgba(0, 0, 0, 0.472);
    border: 1px solid rgb(163, 171, 171);
    color: white;
}
.drop:hover{
    border: 1px solid aqua;
    background-color: black;
    cursor: pointer;
}
.drop .content{
    position: absolute;
    top:90%;
    right: 0.5em;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    margin: right 20px;
    transition: all 0.1s;
}
.drop .content .item{
    padding: 7px;
    cursor: pointer;
}
.drop .content .item:hover{
    background-color: rgb(7, 6, 6);
    color: aqua;
}